name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.9', '3.10', '3.11', '3.12' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pylint

      - name: Lint with pylint
        run: |
          pylint regipy --output-format=text
        # Temp. allow continuing on lint errors
        continue-on-error: true

      - name: CLI Tests
        run: |
          pytest -v regipy_tests/cli_tests.py
        # Temp. allow failure due to inconsistency between CI env and local env.
        continue-on-error: true
      - name: Plugin Tests
        run: |
          pwd
          ls -lah
          ls -lah regipy_tests                  
          pytest -v regipy_tests/plugin_tests.py
      - name: Library Tests
        run: |
          pytest -v regipy_tests/tests.py
          
                    